.map-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
}
.zone {
    background-color: rgba(140, 29, 64, 0.6);
    border: 2px solid #A67C52;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.zone:hover {
    background-color: rgba(160, 32, 80, 0.8);
}
.zone.selected {
    background-color: rgba(0, 128, 0, 0.7);
}
.tombs-container {
    display: none;
    margin-top: 20px;
}
.tomb {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.tomb img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.tomb.selected {
    background-color: rgba(0, 128, 0, 0.7);
}
.tombImage{
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding-bottom: 15px;
}